<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>瀑布流效果</title>
    <style>
        .container {
            column-width: 500px;
            /*属性用来设置元素列之间的间隔（gutter）大小*/
            column-gap: 5px;
        }
        .container div {
            display: block;
            width: auto;
            margin: 4px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div><img src="../images/op/1.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/2.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/3.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/4.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/5.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/6.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/7.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/8.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/1.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/2.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/3.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/4.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/5.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/6.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/7.jpg" alt="" srcset=""></div>
        <div><img src="../images/op/8.jpg" alt="" srcset=""></div>
    </div>
</body>
</html>