<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>火焰字</title>
    <style>
        div {
            text-align: center;
            color: #45b823;
            padding: 20px 0 0 20px;
            background-color: #fff;
            font-size: 60px;
            font-weight: bold;
            /* 左上右下 */
            text-shadow: 
            0 0  4px white, 
            0 -5px 4px #ff3, 
            2px -10px 6px #fd3, 
            -2px -15px 11px #f80, 
            2px -25px 18px #f20;
        }
    </style>
</head>
<body>
    <div>火焰字特效</div>
</body>
</html>